.swiper mySwiper {
    height: 400px;
}

.swiper-wrapper {
    align-items: center;
}

.swiper-slide {
    height: 400px;
    width: 350px;
    border-radius: 7px;
}

.swiper-slide img {
    height: 400px;
    border-radius: 7px;
    border: 1px solid navy;
}

/* .swiper-slide-active {
    transition: 1s;
} */

.info {
    width: 100%;
    padding: 10px 4px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.info h3 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.info a {
    text-decoration: none;
    color: #fff;
    border: 2px solid mediumvioletred;
    border-radius: 20px;
    font-size: 15px;
    padding: 2px 8px;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-pagination-bullet {
    background: #bd9191;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1.2);
}

.swiper-pagination-bullet-active {
    background: #fff;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 1.2);
}